<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suwon.ezen.mapper.DataMapper">
	<!-- userinfo 사용자의 데이터 가져오기 -->
	<select id="getUserInfo" resultType="com.suwon.ezen.vo.UserVO">
		select * from userInfo where pointer = #{pointer}
	</select>
	
	<!-- 사용자의 tilt 테이블에서 column명 가져오기 -->
	<select id="getTiltColumn" resultType="String" parameterType="String">
		SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = #{tiltName} ORDER BY COLUMN_NAME DESC
	</select>

	<!-- 전체 데이터 가져오기 -->
	<select id="getTable" parameterType="list" resultType="hashmap">
		select loc.DATE, loc.BATT, loc.TEMP,
			<foreach item="col" collection="columnList" separator=",">
				`${col}`
			</foreach> from ${info.tiltName} as tilt inner join ${info.structureName} as loc
			on tilt.opdatetime = loc.DATE
	</select> 
	
	<!-- 일부 데이터 가져오기(페이징) -->
		<select id="getTablePaging" parameterType="list" resultType="hashmap">
		select loc.DATE, loc.BATT, loc.TEMP,
			<foreach item="col" collection="columnList" separator=",">
				`${col}`
			</foreach> from ${info.tiltName} as tilt inner join ${info.structureName} as loc
			on tilt.opdatetime = loc.DATE limit 10 offset #{offset}
	</select> 
	
	<!-- userinfo 전체 데이터의 갯수 가져오기 -->
	<select id="getCountUserInfo" resultType="int">
		select count(*) from userinfo
	</select>
	
	<!-- userinfo 전체 데이터 가져오기 -->
	<select id="getAllUserInfo" resultType="com.suwon.ezen.vo.UserVO">
		select * from userInfo limit 10 offset #{offset}
	</select>
	
	<!-- 전체 데이터의 갯수 가져오기 -->
	<select id="getCountTilt" parameterType="com.suwon.ezen.vo.UserVO" resultType="int">
		select count(loc.DATE) from ${info.tiltName} as tilt inner join ${info.structureName} as loc
			on tilt.opdatetime = loc.DATE
	</select>
	
	<!-- password가 유효한지 판단하기 -->
	<select id="comparePassword" resultType="com.suwon.ezen.vo.UserVO">
		select pwd, pointer from userInfo where pwd = #{pwd} and cnt = #{cnt}
	</select>
	
	<!-- status 변경하기 -->
	<update id="changePassword" parameterType="com.suwon.ezen.vo.UserVO" >
		update userInfo set status = #{status} where pointer = #{pointer}
	</update>
	
</mapper>