<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suwon.ezen.mapper.DataMapper">
	<!-- 사용자의 데이터 가져오기 -->
	<select id="getUserInfo" resultType="com.suwon.ezen.vo.UserVO">
		select * from userInfo where pointer = #{pointer}
	</select>
	
	<!-- 사용자의 tilt 테이블에서 column명 가져오기 -->
	<select id="getTiltColumn" resultType="String" parameterType="String">
		SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = #{tiltName}
	</select>

	<!-- 전체 데이터 가져오기 -->
	<select id="getTable" parameterType="list" resultType="hashmap">
		select loc.DATE, loc.BATT, loc.TEMP,
			<foreach item="col" collection="columnList" separator=",">
				`${col}`
			</foreach> from ${info.tiltName} as tilt inner join ${info.structureName} as loc
			on tilt.opdatetime = loc.DATE
	</select> 
</mapper>